# Python / Virtual Environment
.venv/
__pycache__/
*.pyc
*.pyo

# Environment dosyaları (şifreler burada!)
.env
*.env

# Database dosyaları
*.db
*.sqlite3
dev

# Media dosyaları (büyük dosyalar)
media/

# Docker
*.log